<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 쇼핑몰 프로젝트</title>
</head>

<style>
    ul {
        list-style: none;
        text-align: center;

    }

    ul li {
        display: inline;
        padding: 0px 10px 0px 10px;
        letter-spacing: 9px;



    }

    ul li a {
        text-decoration: none;
        color: black
    }


    #header {

        background-color: rgba(148, 107, 53, 0.281);
        text-align: center;
        padding: 3em;

        background-image: url("/2147671399.jpg");
        background-size: cover;
        height: 1400px;
    }
</style>


<body>


<div id="header">
    <h1>HOME PAGE</h1>
    <p>test text</p>


    <ul>
        <li><a href="">about</a></li>
        <li><a href="">shop</a></li>
        <li><a href="">cart</a></li>
        <li><a href="">login</a></li>
    </ul>
</div>





</body>

</html>